:root {
    --logo: linear-gradient(
          0deg,
          #adadad,
          #3f4354
    );
    --primary: rgb(120, 153, 164);
    --secondary: rgb(255, 76, 172);
    --primary-10: rgba(171, 236, 187, 0.1);
    --primary-30: rgba(171, 236, 187, 0.3);
    --primary-50: rgba(171, 236, 187, 0.5);
    --primary-70: rgba(120, 153, 164, 0.7);
    --primary-90: rgba(120, 153, 164, 0.9);
    border: 0;
    --primary-dark: rgb(61, 75, 82);
    --secondary-dark: rgb(66, 9, 41);
    --secondary-darker: rgb(35, 3, 22);
    --sidebar-icon: var(--primary);

    --primary-light: rgb(136, 226, 252);
    --secondary-light: rgb(236, 236, 236);
}

.bg-grad-sidebar {
    background-image: repeating-linear-gradient(27deg, #557499, rgb(19 20 20));
    /* border-bottom: 1px solid #0088ff; */
    border-right: 1px solid #538dbd;
    box-shadow: 0px 0px 34px -3px rgb(2 96 163);
}

.form-input-bordered {
    border: 1px solid var(--primary-10);
    /* border-color: var(--60); */
    border-radius: 6px;
    box-shadow: 0 0 10px -2px var(--primary-dark);
}

.bg-logo {

    background-image: repeating-linear-gradient(
          0deg,
          #dee0e7,
          rgb(205, 208, 217)
    );
    border-bottom: 1px solid var(--primary-dark);
    border-left: 0;
    border-right: 0;
    box-shadow: -1px -1px 8px 5px var(--primary-dark);

}

button {
    background: linear-gradient(0deg, #ccd3db, #dde2ef);
    border: 0 solid #2442607a;
    border-radius: 100%;
    box-shadow: 0 0 50px 20px var(--secondary-light);
    /*
    border: 0;
    box-shadow: 0 0 50px 20px var(--secondary-light);
    */
}

.btn-default {
    background: linear-gradient(var(--primary-90), var(--primary-30)) padding-box,
    linear-gradient(to right, var(--primary-90), var(--primary-30)) border-box;

    border: 1px solid transparent;

    border-radius: 0.5em;
    box-shadow: 2px 2px 28px -6px var(--primary-dark);
}

.bg-grad-sidebar h3 .text-white-50\% {
    color: var(--primary);
    font-weight: bold;
}

.bg-grad-sidebar .text-white-50\% {
    color: var(--primary);
}

.bg-grad-sidebar a {
    color: var(--primary);


}

h4 {
    color: #0A283D;

}

.sidebar-label {
    color: var(--primary);
    font-weight: bold;
    text-shadow: 0 0 1px var(--primary-dark), 0 0 1em var(--primary-90);
}

.content .h-header {

    /*
    background-image: repeating-linear-gradient(179deg, #abc3df, rgb(23 43 62 / 82%));
    border-bottom: 1px solid #516876;
    border-left: 1px solid #898f95;
    border-right: 0;
    box-shadow: 0px 2px 24px 2px rgb(28 36 40);
    .content .h-header {
     */
    background-image: repeating-linear-gradient(179deg, #557499, rgb(19 20 20));
    border-bottom: 1px solid #0088ff;
    border-left: 1px solid #0088ff;
    border-right: 0;
    box-shadow: 1px -1px 14px 2px rgb(8 127 187 / 75%);;
}

.font-sans {
    font-family: Arial, sans-serif;
}

.font {
    font-family: Arial;
}
